services:
  
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile

    container_name: TRUSTCHAIN-BACKEND
    image: trustchain-backend:latest
    depends_on:
      - celery

    ports:
      - 8000:8000

    volumes:
      - ./hardart/artifacts:/app/artifacts #esta es la ruta dentro del contenedor del api donde se guardara el deployment

    environment:
      HARDHAT_ABI_PATH: ${HARDHAT_ABI_PATH}
      HARDHAT_SERVER_URL: ${HARDHAT_SERVER_URL}

    networks:
      - trustChainNet

  celery:
    
    container_name: TRUSTCHAIN-CELERY
    image: trustchain-backend:latest
    command: celery -A core worker -l info --concurrency 1 -P solo
    networks:
      - trustChainNet
    depends_on:
      hardhat:
        condition: service_healthy

  # db:
  #     container_name: db
  #     image: mysql:8.0.41-oraclelinux9
  #     ports:
  #       - 3307:3306
  #     networks:
  #     - trustChainNet

  hardhat:
    build:
      context: ./hardart
      dockerfile: Dockerfile

    container_name: hardhat-node
    ports: 
      - 8545:8545

    volumes:
      - ./hardart/artifacts:/blockchain-node/artifacts/
      - ./hardart/contracts:/blockchain-node/contracts/
      - ./hardart/scripts:/blockchain-node/scripts/

    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8545 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 60s

    networks:
      - trustChainNet
  
  redis:
    ports: 
      - 6379:6379
    image: redis:7.2.11-alpine3.21

    networks:
      - trustChainNet

  # frontend:
  #   build:
  #     context: ./frontend
  #     Dockerfile: Dockerfile

  #   container_name: TRUSTCHAIN-FRONTEND
  #   image: trustchain-frontend/latest
  #   ports:
  #     - 0000:0000 #definir puertos

networks:
  trustChainNet:
    driver: bridge