services:
  
  hardhat:
    build:
      context: ./hardart
      dockerfile: Dockerfile

    container_name: hardhat-node
    ports: 
      - 8545:8545

    volumes:
      - ./hardart:/blockchain-node/
      - /blockchain-node/node_modules 

    healthcheck:
    #Check para validar si el puerto esta abierto, esto para validar si el servicio esta UP y que al API espere
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8545 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 60s
    


    networks:
      - trustChainNet
  
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile

    container_name: BACKEND-TRUSTCHAIN
    image: trustchain-backend:latest

    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8000:8000

    volumes:
      - ./hardart/artifacts:/app/artifacts #esta es la ruta dentro del contenedor del api donde se guardara el deployment
      # - ./backend/db.sqlite3:/app/db.sqlite3

    command: ["sh", "-c", "/app/sh.sh"]
    environment:
      HARDHAT_SERVER_URL: http://host.docker.internal:8545
      HARDHAT_ABI_PATH: /app/artifacts/contracts/Marketplace.sol/Marketplace.json
      HARDHAT_MARKETPLACE_PATH_ADDRESS: /app/artifacts/Marketaddress.json
      DJANGO_SETTINGS_MODULE: core.environments.prod
      DATABASE_NAME_PROD: trustdb
      DATABASE_USER_PROD: trustuser
      DATABASE_PASSWORD_PROD: 1234
      DATABASE_HOST_PROD: db
      DATABASE_PORT_PROD: 3306

    networks:
      - trustChainNet

  celery:
    
    container_name: CELERY-TRUSTCHAIN
    image: trustchain-backend:latest
    command: ["celery", "-A", "core", "worker", "-l", "info"]
    networks:
      - trustChainNet

    depends_on:
      api:
        condition: service_started
      hardhat:
        condition: service_healthy
      
     

    volumes:
      - ./hardart/artifacts:/app/artifacts #esta es la ruta dentro del contenedor del api donde se guardara el deployment
      # - ./backend/db.sqlite3:/app/db.sqlite3

    environment:
      HARDHAT_SERVER_URL: http://host.docker.internal:8545
      HARDHAT_ABI_PATH: /app/artifacts/contracts/Marketplace.sol/Marketplace.json
      HARDHAT_MARKETPLACE_PATH_ADDRESS: /app/artifacts/Marketaddress.json
      DJANGO_SETTINGS_MODULE: core.environments.prod

      DATABASE_NAME_PROD: trustdb
      DATABASE_USER_PROD: trustuser
      DATABASE_PASSWORD_PROD: 1234
      DATABASE_HOST_PROD: db
      DATABASE_PORT_PROD: 3306

  db:
      container_name: db
      image: mysql:8.0.41-oraclelinux9
      ports:
        - 3306:3306

      #healtcheck para validar la conexion a la db, esto para que el API espere a que el servicio de mysql este up
      healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-u","root","-p1234","-h", "localhost"]
        interval: 10s
        timeout: 5s
        retries: 5
        
      environment:
        MYSQL_ROOT_PASSWORD: 1234
        MYSQL_DATABASE: trustdb
        MYSQL_USER: trustuser
        MYSQL_PASSWORD: 1234

      networks:
      - trustChainNet

  redis:
    ports: 
      - 6379:6379
    image: redis:7.2.11-alpine3.21

    networks:
      - trustChainNet

  # frontend:
  #   build:
  #     context: ./frontend
  #     Dockerfile: Dockerfile

  #   container_name: TRUSTCHAIN-FRONTEND
  #   image: trustchain-frontend/latest
  #   ports:
  #     - 0000:0000 #definir puertos

networks:
  trustChainNet:
    driver: bridge